header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    background-color: #CDD9EF;
}

/*
.is-active {
    background-color: #F3DBD4;
}
*/

.nav {
    color: black;
    padding: 14px 16px;
}

.navItems {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.logoutButton {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: #F3DBD4;
    color: black;
    background-color: #CDD9EF;
}

#navbar{
    background-color: #CDD9EF; 
}

#buttons{
    background-color:#F3DBD4;
    border: none;
    color: black;
    font-size: 15px
}

#lines{
    color:#F3DBD4 
}

h1{
    text-align: center;
}